<h2 id="me">Posts</h2>
<div>
<ul>
    {{#each this.pagedContent as |post|}}
    <Article @route="posts.post" @model={{post}} />

    <li>User: {{post.user}} Title: {{post.title}}</li>
    {{/each}}
</ul>
</div>

<PageNumbers @content={{this.pagedContent}} />