<div class=" text-2xl text-gray-900">User posts</div>
<div>

<ul>
    {{#each this.pagedContent as |post|}}
    <li class="m-4 border-solid border-2">
    <Article @route="posts.post" @model={{post}} />
</li>
    {{/each}}
    
</ul>

</div>

<PageNumbers @content={{this.pagedContent}} />